<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allan:Services</title>
    <link rel="stylesheet" href="../images/faviconio-logo/logo.png">
    <link rel="stylesheet" href="../static/services.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <h1>AAK</h1>
        <nav>
            <ol>
                <li class="nav-link">
                    <a href="../index.html">Home</a>
                </li>
                <li class="nav-link">
                    <a href="../index.html">About</a>
                </li>
                <li class="nav-link active">
                    <a href="#">Services</a>
                </li>
                <li class="nav-link">
                    <a href="../index.html">Projects</a>
                </li>
                <li class="nav-link">
                    <a href="#contact-section">Contacts</a>
                </li>
                <li id="hire-button">Hire Me</li>
            </ol>
        </nav>
    </header>

    <main>
        <section class="services-section">
            <h1>Quality Services</h1>
            <div class="service-tiles">
                <div class="service-content">
                    <i class='bx bx-globe'></i>
                    <h2>Website Development</h2>
                    <p>I deliver the perfect tools and resources to build a remarkable website in mere minutes.
                        Bring your vision to life effortlessly!</p>
                </div>
                <div class="service-content">
                    <i class='bx bxs-devices' ></i>
                    <h2>UI/ UX Design</h2>
                    <p>I equip you with everything you need to create outstanding UI/UX designs swiftly. Transform your
                        concepts into an engaging user experience with ease!</p>
                </div>
                <div class="service-content">
                    <i class='bx bxs-mobile' ></i>
                    <h2>App Development</h2>
                    <p>I provide you with all the essentials to rapidly build impressive mobile apps. Bring your ideas
                        to life with ease and precision!</p>
                </div>
            </div>
        </section>

        <section id="contact-section" class="contact-section">
            <h1>Ready to start your project with a spark?</h1>
            <p>Reach out and let's make it happen ✨. I'm open to full-time or part-time roles to push design
                boundaries and create outstanding work.</p>
            <div class="contact-icons">
                <ul>
                    <li>
                        <a href="https://github.com/allanalmax" target="_blank"><i class='bx bxl-github'></i></a>
                    </li>
                    <li>
                        <a href="www.linkedin.com/in/allan-amanya-kayumbu-20352a254" target="_blank"><i class='bx bxl-linkedin'></i></a>
                    </li>
                    <li>
                        <a href="allanalmax13@gmail.com" target="_blank"><i class='bx bx-envelope'></i></a>
                    </li>
                    <li>
                        <a href="https://x.com/allanalmax13" target="_blank"><i class='bx bxl-twitter'></i></a>
                    </li>
                </ul>
            </div>
            <button>
                <a href="">Reach out</a>
                <i class='bx bx-message-dots'></i>
            </button>
        </section>
    </main>

    <hr>
    <footer>
        <p><span>&copy; 2024</span> All Rights Reserved.</p>
        <p>Crafted with <i class='bx bxs-heart'></i></p>
    </footer>
</body>

</html>