<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
    <link rel="stylesheet" href="../static/genres.css">
</head>

<body>
    <header>
        <h2>NMax</h2>
        <nav>
            <ul>
                <li>
                    <a class="navbar-list" href="../index.html">Home</a>
                </li>
                <li>
                    <a class="navbar-list" href="#">Genres</a>
                </li>
                <li>
                    <a class="navbar-list" href="./contacts.html">Contacts</a>
                </li>
            </ul>
        </nav>
    </header>
    <hr>
    <main>
        <h2>Movie Genres</h2>
        <ul>
            <li>Action</li>
            <li>Adventure</li>
            <li>Sci-Fi</li>
            <li>Thriller</li>
        </ul>
    </main>
    <hr />
    <footer>
        <p>&copy; 2024 All Rights Reserved.</p>
    </footer>
</body>

</html>